/* ----------------------------------------------- */
/* -- Custom Cascading Style Sheet -- style.css -- */
/* ----------------------------------------------- */


body {
    /* background-color: #25252A; */
    /* background-color: #17173b; */
    background-image: linear-gradient(#161640, #080814);
}

a:link {
    text-decoration: none;
}


/* -- Classes -- */

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-card {
    width: 340px;
    height: 210px;
    /* min-width: 180px;
    min-height: 180px; */
    /* max-width: 200px;
    max-height: 200px; */
    background-color: rgb(25, 26, 82);
    margin: 8px;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
    padding: 4px;
    box-shadow: 0 2px 4px 0 rgba(45, 34, 103, 0.2), 0 3px 10px 0 rgba(60, 92, 148, 0.19);
}

.app-card-content {
    display: inline-block;
}

.app-title {
    color:rgb(243, 234, 222);
    font-size: 1.3rem;
}

.smaller-text {
    font-size: 0.9rem;
}

.app-img {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
}

.app-card:hover {
    /* transition: 0.5s ease-in-out; */
    transition: background-color 0.5s ease;
    /* background-color: rgb(155, 15, 15); */
    background-color: rgb(120, 15, 15);
}

.fade {
    /* transition: 0.5s ease-in-out; */
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0.05;
    }

    100% {
        opacity: 1;
    }
}

.light-text {
    color: #F2FCFF;
}

.dark-text {
    color: rgb(10, 4, 40);
}

.nav-bg-color {
    /* background-color:  #08080b; */
    background-color: rgb(4, 2, 16);
}

.center {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo {
    max-height: 30px;
    max-width: 30px;
    margin: 3px;
}

.vertical-fade {
    min-height: 20px;
    max-height: 30px;
    background-image: linear-gradient(#F2FCFF, #25252A);
}

.vertical-fade-reverse {
    min-height: 20px;
    max-height: 30px;
    background-image: linear-gradient(#25252A, #F2FCFF);
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.footer {
    background-color: #F2FCFF;
    color: rgb(10, 4, 40);
    z-index: 2;
}