/* ----------------------------------------------- */
/* -- Custom Cascading Style Sheet -- style.css -- */
/* ----------------------------------------------- */


body {
    /* background-color: #25252A; */
    background-color: #17173b;
}



/* -- Classes -- */

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-card {
    min-width: 180px;
    min-height: 180px;
    /* max-width: 200px;
    max-height: 200px; */
    background-color: rgb(25, 26, 82);
    margin: 8px;
    border-radius: 8px;
    text-overflow: ;
}

.light-text {
    color: #F2FCFF;
}

.nav-bg-color {
    /* background-color:  #08080b; */
    background-color: rgb(4, 2, 16);
}

.center {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo {
    max-height: 30px;
    max-width: 30px;
}

.vertical-fade {
    min-height: 20px;
    max-height: 30px;
    background-image: linear-gradient(#F2FCFF, #25252A);
}

.vertical-fade-reverse {
    min-height: 20px;
    max-height: 30px;
    background-image: linear-gradient(#25252A, #F2FCFF);
}

.footer {
    background-color: #F2FCFF;
    color:rgb(10, 4, 40);
}
